<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if all_feedbacks %}
    <center><h1>All the feedbacks  </h1></center>
    {% for i in all_feedbacks %}
    <ul>
            <h2><li>{{i.id}}.{{i.name}}</li></h2>
        <h3><li>{{i.feedback}}</li></h3>
    </ul>
    {% endfor %}
    {% else %}
    <p>No feedbacks are collected</p>
    {% endif %}
    <button><a href="{% url 'form' %}">Home</a></button>
</body>
</html>