<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        {% if submitted == True %}
        <h2>Thanks for you feedback..</h2>
        <button><a href="{% url 'feedbacks' %}">View Feedbacks</a></button>
        {% else %}
        <h1>Enter your Feedback below</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter your Name" name="name">
            <br>
            <textarea id="" name="feedback">Feedback...</textarea>
            <br>
            <button >Submit</button>
        </form>
    </center>
    <button><a href="{% url 'feedbacks' %}">View Feedbacks</a></button>

    {% endif %}
    <h1>{{submitted}}</h1>
</body>
</html>